//
//  IssueTracker.xcconfig
//  issueTracker
//
//  Created by seongha shin on 2022/06/17.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "../../Pods/Target Support Files/Pods-issueTracker/Pods-issueTracker.dev.xcconfig"

GITHUB_CLIENT_ID = c2dd7cd1d58bca22141d
GITHUB_CLIENT_SECRET = 7be4a8fbbefb10fe96f62bd8ffa1e6e3ec525aca
